<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="soyformador.es :: Cursos" name="title">
<meta content="Cursos de formación empresaria en soyformador.es" name="description">

<title>
{% block title %}
Formacion online
{% endblock %}
</title>

{% block css %}

<link href="{{ asset('bundles/muchomasfacilsoyformadorweb/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css" /> 
<link href="{{ asset('bundles/muchomasfacilsoyformadorweb/css/screen.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/muchomasfacilsoyformadorweb/css/print.css') }}" rel="stylesheet" type="text/css" />


{% endblock %}
<link href="{{ asset('bundles/muchomasfacilsoyformadorweb/css/main.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>

 <div class="container"> 
                 <!--

     <div class="row">

        <div class="span12">    
            
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                     <div class="container">
	
                        <ul class="nav">
                        <li class="dropdown">
                          <a href="{{ path('_muchomasfacil_soyformador_web_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">
                                Cursos
                                <b class="caret"></b>
                          </a>
                            <ul class="dropdown-menu">
   		  		<li>
					<a href="{{ path('_muchomasfacil_soyformador_web_curso_formacion_asegura_futuro') }}">La formación asegura el futuro</a>
			 	</li>

 				 <li>
					<a href="{{ path('_muchomasfacil_soyformador_web_curso_reuniones_productivas') }}">Reuniones más productivas</a>
				</li>

 				 <li>
					<a href="{{ path('_muchomasfacil_soyformador_web_curso_negociar_no_imponer') }}">Negociar no es imponer
					</a>
				</li>

				<li>
					<a href="{{ path('_muchomasfacil_soyformador_web_curso_creando_equipo') }}">Creando equipo
					</a>
				</li>

				<li>
					<a href="{{ path('_muchomasfacil_soyformador_web_curso_lideres_para_cambio') }}">Líderes para el cambio
					</a>
				</li>

				<li>
					<a href="{{ path('_muchomasfacil_soyformador_web_curso_motivacion_por_proyecto') }}">Motivación por el proyecto
					</a>
				</li>

				<li>
					<a href="{{ path('_muchomasfacil_soyformador_web_curso_poder_de_voz') }}">El poder de la voz
					</a>
				</li>
                            </ul>
                    </li>	
            </ul>



	<ul class="nav">
  		<li class="dropdown">
  		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          		Quienes Somos
          		<b class="caret"></b>
    		  </a>
    			<ul class="dropdown-menu">
   		  		

 				 <li>
					<a href="{{ path('_muchomasfacil_soyformador_web_quienes_somos_profesionales') }}"> Conoce a nuestros profesionales
					</a>
				</li>
                                
                                <li>
					<a href="#">Nuestra historia</a>
			 	</li>

 				 <li>
					<a href="#">Nuestra misión</a>
				</li>
                                
    	      		 </ul>
 	 	</li>	
	</ul>

	<ul class="nav">
  		<li class="dropdown">
  		  <a href="{{ path('_muchomasfacil_soyformador_web_como_lo_hacemos') }}" class="dropdown-toggle" data-toggle="dropdown">
          		Como lo hacemos
          		<b class="caret"></b>
    		  </a>
    			<ul class="dropdown-menu">
   		  		<li>
					<a href="#">Trabajo en equipo.</a>
			 	</li>

 				 <li>
					<a href="#">Gestión de la tecnología</a>
				</li>

 				 <li>
					<a href="#">Control de la calidad
					</a>
				</li>
    	      		 </ul>
 	 	</li>	
	</ul>


         <ul class="nav">
  		<li class="dropdown">
  		  <a href="{{ path('_muchomasfacil_soyformador_web_cursos_impartidos') }}" class="dropdown-toggle" data-toggle="dropdown">
          		Cursos impartidos.
          		<b class="caret"></b>
    		  </a>
    			<ul class="dropdown-menu">
   		  		<li>
					<a href="#">Coaching y desarrollo personal</a>
			 	</li>

 				 <li>
					<a href="#">Webs 2.0 para ONGs</a>
				</li>

 				 <li>
					<a href="#">SEO Y SEM: Posicionamiento Web
					</a>
				</li>
    	      		 </ul>
 	 	</li>	
	</ul>


	
	<ul class="nav">
  		<li class="dropdown">
  		  <a href="{{ path('_muchomasfacil_soyformador_web_contacto') }}" class="dropdown-toggle" data-toggle="dropdown">
          		Contacto
          		<b class="caret"></b>
    		  </a>
    			<ul class="dropdown-menu">
   		  		<li>
					<a href="{{ path('_muchomasfacil_soyformador_web_contacto_formulario') }}">Formulario de contacto</a>
			 	</li>

 				 <li>
					<a href="#">Preguntas Frecuentes</a>
				</li>

 				 <li>
					<a href="{{ path('_muchomasfacil_soyformador_web_contacto_datos_contacto') }}">Datos de contacto y ubicacion.
					</a>
				</li>
    	      		 </ul>
 	 	</li>	
	</ul>

 

	<ul class="nav">
  		<li class="dropdown">
  		  <a href="{{ path('_muchomasfacil_soyformador_web_aviso_legal') }}" class="dropdown-toggle" data-toggle="dropdown">
          		Aviso Legal
          		<b class="caret"></b>
    		  </a>
    			<ul class="dropdown-menu">
   		  		<li>
					<a href="#">Derechos de autor</a>
			 	</li>

 				 <li>
					<a href="#">Normativa de protección de datos</a>
				</li>

 				 <li>
					<a href="#">Nos basamos en la confianza
					</a>
				</li>
    	      		 </ul>
 	 	</li>	
	</ul>

	
            
    </div>

</div> 
 
</div> 
    
</div> 

             
</div>   
     -->

<!-- posicionamiento del logo -->

<div class="row div-wrap">
    <div class="span2">
        <img src="{{ asset('bundles/muchomasfacilsoyformadorweb/images/logo.png') }}" alt="Somos formadores web" />
         <p> </p>
         <p class= "small">
         <a href="http://www.muchomasfacil.com"target="_blank" >
        Diseño y desarrollo web
        <br>
        muchomasfacil.com
        </a>
        </p>

    </div>

	<div class="span6">
            
                    <div class = "row">
                        <div id = "div-main-menu" class = "span-13 last">
                               {{ knp_menu_render('MuchomasfacilSoyformadorWebBundle:Builder:menuBar') }}
                        </div>
                     </div>
                    <div class = "row" id = "div-content">
                          {% block content %}	{% endblock %}
                    </div>
	</div>
        
    </div>   <!--fin de fila -->

</div> <!--fin del container del grid -->


 {% block javascripts %}
    <!--
            <script
		 src="{{ asset('bundles/muchomasfacilsoyformadorweb/js/jquery-1.js') }}" type="text/javascript">
	  </script>
-->
	    <script
		 src="{{ asset('bundles/muchomasfacilsoyformadorweb/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/jquery.js') }}" type="text/javascript">
	  </script>

	    <script
		 src="{{ asset('bundles/muchomasfacilsoyformadorweb/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js') }}" type="text/javascript">
	  </script>
	  
        {% endblock %}
</body>
</html
