{% extends 'MuchomasfacilSoyformadorWebBundle::basic.html.twig' %}

{% block css %}
    {{ parent() }}	 
{% endblock %}
    
{% block title %}
soyformador.es :: Quienes Somos
{% endblock %}


{% block content %}
    {% block encabezado %}
        
        <h1>Quienes Somos</h1>
       
        
    {% endblock %}
  
             <h2> {% block nombreEmpleado %} {% endblock %} </h2>
          
      
       
     
      {% block titulo_datos_academicos %}   
   
    
    <h3>
        Datos académicos: 
    </h3>
   
     <BR>
      {% endblock %}
    
    
        {% block datosAcademicos %} {% endblock %}
 
    
    {% block titulo_especializado_en %}
     <BR>
    
        <h3> Especializado en: </h3>
   
     <BR>
    {% endblock %}
    
   
        {% block especializadaEn %}{% endblock %}

    
    {% block titulo_experiencia %}
    <BR>
    
       <h3> Experiencia: </h3>
    
     <BR>
     
     {% endblock %}
    
    
         {% block experiencia %}{% endblock %}
  
   
{% endblock %}