{% extends 'MuchomasfacilSoyformadorWebBundle:QuienesSomos:base_quienes_somos.html.twig' %}


    {% block nombreEmpleado %}
        Teresa González Ruiz
    {% endblock %}
         
    {% block fotoEmpleado %}
        <img src="{{ asset('bundles/muchomasfacilsoyformadorweb/images/adriana.jpeg') }}" alt="foto empleada" />
    {% endblock %}
        
        
    {% block datosAcademicos %}
        <ul>
            <li>Licenciada en Geografía e Historia por la Universidad Nacional de Educación a Distancia (UNED).</li>
        </ul>
        
        <ul>
            <li>Grado de Licenciatura en el Área de Humanidades, con especialización en Historia Social de España, valorado en 320 créditos. Universidad Complutense de Madrid.</li>
        </ul>
        
        <ul>
            <li>Experto Universitario en Formación de Formadores. Área de Ciencias de la Educación y Psicología. 200 horas. Master de postgrado. UNED.</li>
        </ul>
        
        <ul>
            <li>Cursos de corta duración impartidos por Consultoras especializadas en temas relacionados con Formación empresarial y Selección.</li>
        </ul>
        
        <ul>
            <li>Curso Superior: “Experto Universitario en Protocolo Empresarial y Asesoría de Imagen”. 250 horas. (Bai. Escuela de Empresa y Comunicación).</li>
        </ul>
        
        <ul>
            <li>Experto en la búsqueda de músicas adecuadas a diferentes tipos comunicación.</li>
        </ul>
        
    {% endblock %} 
        
    {% block especializadaEn %}
         <ul>
            <li>Protocolo Empresarial.</li>
        </ul>
        
         <ul>
            <li>Formación de Formadores.</li>
        </ul>
        
         <ul>
            <li>Filosofía y técnicas de comunicación.</li>
        </ul>
        
         <ul>
            <li>Filosofía y técnicas de creatividad.</li>
        </ul>
        
        <ul>
            <li>Inteligencia emocional y programación neurolingüistica.</li>
        </ul>
        
        <ul>
            <li>Protocolo, Relaciones Públicas y Asesoría de Imagen.</li>
        </ul>

    {% endblock %}
        
     {% block experiencia %}
        <p> Impartición en distintos Centros Docentes de materias inherentes a la titulación universitaria: </p>
        <br>
        
        <ul>
            <li>Geografía física, descriptiva y humana.</li>
        </ul>
        
        <ul>
            <li>Historia politica, economica, social y del Arte.</li>
        </ul>
        
        <ul>
            <li>Historia de la Literatura.</li>
        </ul>
        
        <ul>
            <li>Filosofía.</li>
        </ul>
        
        <br>
        
        <p> Diseño y puesta en marcha de conferencias y seminarios para fines concretos. A título de ejemplo: </p>
        <br>
        
        <ul>
            <li>Inteligencia emocional.</li>
        </ul>
        
        <ul>
            <li>Comunicación y Gestión del Tiempo.</li>
        </ul>
        
        <ul>
            <li>Dirección de equipos de trabajo.</li>
        </ul>
        
        <ul>
            <li>Análisis de conflictos y toma de decisiones..</li>
        </ul>
        
        <ul>
            <li>Técnicas de negociación..</li>
        </ul>
        
         <ul>
            <li>Organización de Eventos.</li>
        </ul>
        
        <ul>
            <li>Conferencias en distintos Centros, sobre historia de las mentalidades y vida cotidiana.</li>
        </ul>
        
        <ul>
            <li>Talleres de literatura y de historia adaptados para niños y adolescentes.</li>
        </ul>
        
        <br>
        
        <p>
            A título de ejemplo cito las siguientes instituciones o empresas: Fevecta, Destinia.com, Renfe, Adif, Fundación Miguel Angel Colmenero, 
            Dirección General de la Policía y la Guardia Civil...
        </p>
    
    
        
    {% endblock %}   


    