{% extends 'MuchomasfacilSoyformadorWebBundle::basic.html.twig' %}

{% block title %}
soyformador.es :: Como lo hacemos
{% endblock %}

{% block content %}
<div id="div-content" class="span-11 prepend-1 append-1 last">
<h1>Como lo hacemos</h1>
</div>

{% endblock %}
