
        Nombre y Apellidos del cliente: {{ nombre }} 
        
        Correo del cliente: {{ email }} 
        
        Contenido del mensaje: {{contenidoConsulta }} 
        
        Fin de mensaje.
    
   