{% extends 'MuchomasfacilSoyformadorWebBundle:Contacto:contacto.html.twig' %}

{% block content %}

 {{ parent() }}

<div class="container">  

<div class="row">  

	<div class="span3">  
		Habla con nosotros, estamos encantados de atenderte
	</div>  


	<div class="span9">

	<ul class="nav nav-list">  
        	<li class="nav-header">Datos de contacto:</li>  

        		<li class="active"><i class= "icon-envelope"></i> guillermohera@soyformador.es</li>  
      			  <li><i class= "icon-comment" ></i> 659345678</li>  
       		  	 <li><i class="icon-home"></i> Avenida Alfonso XIII Nº19 28002 Madrid</li>  
       			 
	</ul>  

	
	</div>  

</div>


<div class="row">
	<HR>
</div>

<div class="row">  

 	<div class="span12">
		<b> Proximamente en redes sociales. </b>
	</div>
</div>


<div class="row">
		<div class="span1">
			<img src="{{  asset('bundles/muchomasfacilsoyformadorweb/images/blogger.png') }}" alt="blogger" />
		</div>

		<div class="span1">
			<img src="{{  asset('bundles/muchomasfacilsoyformadorweb/images/digo.png') }}" alt="digo"/>
		</div>

		<div class="span1">
			<img src="{{  asset('bundles/muchomasfacilsoyformadorweb/images/facebook.png') }}" alt="facebook"/>
		</div>

		<div class="span1">
			<img src="{{  asset('bundles/muchomasfacilsoyformadorweb/images/gplus.png') }}" alt="gplus"/>
		</div>
	
		<div class="span1">
			<img src="{{  asset('bundles/muchomasfacilsoyformadorweb/images/linkedin.png') }}" alt="linkedin"/>
		</div>

		<div class="span1">
			<img src="{{  asset('bundles/muchomasfacilsoyformadorweb/images/twitter.png') }}" alt="twitter"/>
		</div>

		
</div>

</div>

{% endblock %}
