{% extends 'MuchomasfacilSoyformadorWebBundle:Contacto:contacto.html.twig' %}


{% block content %}

 {{ parent() }}
 
 <form action="{{ path('_muchomasfacil_soyformador_web_contacto_formulario') }}" method="post" {{ form_enctype(form) }} >

    {{ form_widget(form) }}
    <input type="submit" />

</form>

{% endblock %}
