{% extends 'MuchomasfacilSoyformadorWebBundle:Contacto:contacto.html.twig' %}


{% block content %}

 {{ parent() }}

<form action= "{{ path('_muchomasfacil_soyformador_web_contacto_formulario') }}" method="post" {{ form_enctype(form) }} id="contact-form" class="form-horizontal">

        <fieldset>
          <legend>Formulario de contacto</legend>

         <div class="control-group">
		  <label class="control-label" for="name">Nombre y apellidos: </label>
			 <div class="controls">
				 <input type="text" class="input-xlarge" name="name" id="name">
			</div>
	</div>

	<div class="control-group">
		 <label class="control-label" for="email">Dirección email: </label>
			<div class="controls">
				 <input type="text" class="input-xlarge" name="email" id="email">
			</div>
	 </div>


          <div class="control-group">
            <label class="control-label" for="optionsCheckbox">¿Eres cliente nuestro actualmente?</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1">
                activa la casilla si nos has encargado algún proyecto.
              </label>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label" for="select01">¿En qué podemos ayudarte? Selecciona tu área de interés: </label>
            <div class="controls">
              <select id="select01">
                <option>Información sobre productos</option>
                <option>Información sobre tarifas</option>
                <option>Información sobre proyecto en curso </option>
                <option>Otras consultas</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="fileInput">¿Quieres adjuntarnos algún documento? </label>
            <div class="controls">
              <input class="input-file" id="fileInput" type="file">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="textarea">¿Quieres hacer algún comentario adicional?</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button class="btn">Limpiar el formulario</button>
          </div>
        </fieldset>
</form>

{% endblock %}

