{% extends 'MuchomasfacilSoyformadorWebBundle::basic.html.twig' %}

{% block title %}
	soyformador.es :: Cursos
{% endblock %}

{% block css %}
	{# <link href="{{ asset('bundles/muchomasfacilsoyformadorweb/css/cursos.css') }}" rel="stylesheet" type="text/css" /> #}
	{{ parent() }}
	 
{% endblock %}

{% block content %}

	
		
		<BR>
                
                <div class = "container">
                    <div class = "row">
                        <div class = "span3">
                            <h1>Cursos</h1>
                         </div>
                    
                        <div class = "span2">
                               <a href="{{ path('_muchomasfacil_soyformador_web_homepage') }}">Volver al listado de cursos.</a>
                        </div>
               
                     </div>
                        
                </div>
                
                  <h2> {% block tituloCurso %}  CURSO POR DEFECTO  {% endblock %} </h2>
                  
                  
		<BR>

			 <h3> Introducción. </h3>
 		

		<BR>

		<div> 

			{% block introduccion %} Esta es una introducción por defecto {% endblock %}


		</div>

		<BR>
                
			<h3> Objetivos. </h3>
	
		<BR>

		<div>

			{% block objetivos %} Estos son los objetivos por defecto {% endblock %}

		</div>

		<BR>
			<h3> Estructura del curso  </h3>
		<BR>

		<div>		
			{% block estructura_curso %}  Esta es la estructura del curso por defecto  {% endblock %}

		</div>

		<BR>
		
			<h3>Al final del curso, los alumnos…..</h3>
		<BR>

		<div>

			{%block al_final_curso %} Esto es lo que los alumnos consiguen al final del curso por defecto {% endblock %}
		</div>
                
	<BR>

	<div>
	<a href="{{ path('_muchomasfacil_soyformador_web_homepage') }}">Volver al listado de cursos.</a>
	</div>


{% endblock %}


