{% extends 'MuchomasfacilSoyformadorWebBundle:Cursos:base_cursos.html.twig' %}

{% block tituloCurso %}
 Creando equipo.
{% endblock %}

{% block introduccion %}

	<p>
		Un programa especialmente diseñado para crear un microcosmos del mundo empresarial, en el que los participantes trabajan en grupos reducidos para alcanzar objetivos y optimizar el rendimiento mediante el trabajo en equipo y una comunicación eficiente. Este programa es un lubricante que facilita la cultura de cooperación y colaboración esencial para mejorar la productividad y crear y mantener una empresa con futuro.

	</p>

{% endblock %}

{% block objetivos %}

	<ul>
		<li>
			Analizar las diversas percepciones de las cosas.
		</li>

		<li>
			Concienciar de la necesidad de compartir un objetivo común para conseguir resultados.
		</li>

		<li>
			Reflexionar en torno a la necesidad de participación en las tareas.
		</li>

		<li>
			Verificar las distintas actitudes y personalidades de los integrantes de los equipos.
		</li>

	</ul>

{% endblock %}


{% block estructura_curso %}
	<p>
		La metodología se basa en el “aprendizaje a través de la experiencia” en el que los alumnos <b> aprenden haciendo </b>, participando activamente en la formación. El programa proporciona el método más potente para aprender a trabajar en equipo y ponerlo en práctica de inmediato. El aprendizaje no sólo es el resultado de la parte ”hacer”; también cobra especial relevancia el proceso de reflexión y análisis con el que se consigue llegar hasta el propio significado de la experiencia para el equipo y la Compañía.

	</p>


{% endblock %}


{% block al_final_curso %}

	<ul>
		<li>
			Se habrá implicado en el conocimiento de la marcha de la Compañía.
		</li>

		<li>
			Tendrá asumida la importancia del trabajo en equipo para obtener rentabilidad.
		</li>

		<li>
			Verificado e interiorizado los poderes, intereses y necesidades de las partes.
		</li>
	
	</ul>

{% endblock %}
