
{% extends 'MuchomasfacilSoyformadorWebBundle:Cursos:base_cursos.html.twig' %}

{% block tituloCurso %}
 La formación asegura el futuro.
{% endblock %}

{% block introduccion %}

	<p>
		Se trata de un programa especialmente diseñado para demostrar a las personas que ocupan parte de su tiempo profesional en la impartición de cursos, la importancia de sus actitudes verbales y no verbales en el aula.
	</p>
{% endblock %}

{% block objetivos %}

	<ul>
		<li>
			Analizar el papel del Formador en la asunción de los objetivos y mensajes clave de un curso.
		</li>

		<li>
			Sensibilizar de la importancia de buscar metodologías adecuadas al proceso de aprendizaje del adulto.
		</li>

		<li>
			Aprender a secuenciar una acción formativa buscando los momentos de mayor atención del asistente.
		</li>

	</ul>

{% endblock %}


{% block estructura_curso %}
	<p>
		Este programa está diseñado para Formadores con una cierta experiencia en el aula y es aconsejable realizarlo en 21 horas.
	</p>

	<p>
		Durante ese tiempo se realizarán actividades innovadoras con una carga notable de reflexión y de acción. Tiene integrados ejercicios de duración prolongada para inducir a un riguroso análisis de las actitudes y haceres de los participantes en el aula.
	</p>


{% endblock %}


{% block al_final_curso %}

	<ul>
		<li>
			Habrán aprendido a secuenciar una acción formativa en función del grupo y no del programa.
		</li>

		<li>
			Habrán tomado conciencia de su papel de comunicador en el aula.
		</li>

		<li>
			Habrán interiorizado el respeto que se debe sentir por los alumnos
		</li>

		<li>
			Habrán aprendido a buscar recursos lúdicos que “fijen” en la mente del alumno los contenidos de las jornadas.
		</li>

	</ul>

{% endblock %}
