{% extends 'MuchomasfacilSoyformadorWebBundle:Cursos:base_cursos.html.twig' %}

        
{% block content %}

		<h1>Cursos</h1>

		<BR>
		
		{{ knp_menu_render('MuchomasfacilSoyformadorWebBundle:Builder:mainMenu') }}
	
	

{% endblock %}
