{% extends 'MuchomasfacilSoyformadorWebBundle:Cursos:base_cursos.html.twig' %}

{% block tituloCurso %}
 Líderes para el cambio.
{% endblock %}

{% block introduccion %}

	<p>
		Diseñar esta acción formativa es un reto apasionante que ayudará a formar líderes que puedan inspirar, motivar y apoyar a las personas. “Líderes para el cambio” hará posible que se cree un ambiente de trabajo más armonioso, conduciendo así a su Compañía hacia un nivel de alto rendimiento.

	</p>

{% endblock %}

{% block objetivos %}

	<ul>
		<li>
			Definir el nuevo papel de los líderes en un entorno de cambio.
		</li>

		<li>
			Demostrar que el cambio se gestiona mediante una comunicación eficaz.
		</li>

		<li>
			Dotar a los alumnos de técnicas y habilidades.
		</li>

	</ul>

{% endblock %}


{% block estructura_curso %}
	<p>
		Está demostrado que el adulto aprende a través de la experiencia. Por ello, en este programa el alumno participa activamente en una formación hecha a medida que responde a las necesidades de la persona y de la organización.
	</p>

	<p>
		Durante el curso se desarrollan una serie de presentaciones, teorías relacionadas con el tema, ejercicios prácticos y un feedback estructurado acorde con las distintas maneras en que las personas perciben la información. Todas las actividades se han diseñado para que presenten desafíos y, a la vez, sean gratificantes.

	</p>


{% endblock %}


{% block al_final_curso %}

	<ul>
		<li>
			Reflexionado sobre la necesidad de adaptación al entorno cambiante en el que estamos sumergidos y lo vivirá como una habilidad de supervivencia empresarial
		</li>

		<li>
			Comprendido que el cambio se gestiona y puede ser planificado y asimilado sin traumas
		</li>

		<li>
			Entendido que el papel del líder es imprescindible como impulsor del cambio
		</li>
	
	</ul>

{% endblock %}
