{% extends 'MuchomasfacilSoyformadorWebBundle:Cursos:base_cursos.html.twig' %}

{% block tituloCurso %}
 Motivación por el proyecto.
{% endblock %}

{% block introduccion %}

	<p>
		Se trata de una acción formativa altamente estimulante que incide en el estudio del entorno en el que nos movemos, verifica dónde estamos y hacia dónde queremos ir. Por otro lado, verifica que cada persona es la fuerza impulsora del proceso de trabajo en equipo

	</p>

{% endblock %}

{% block objetivos %}

	<ul>
		<li>
			Despertar el orgullo de pertenencia a la Organización.
		</li>

		<li>
			Verificar cómo la responsabilidad compartida en la toma de decisiones es fundamental en el éxito del proyecto.
		</li>

		<li>
			Reflexionar sobre la importancia del valor añadido personal en la consecución de los objetivos de la organización.
		</li>

	</ul>

{% endblock %}


{% block estructura_curso %}
	<p>
		El curso está programado para trabajar en pequeño y gran grupo, con actividades dentro y fuera del aula altamente motivadoras, de manera que se fomente la participación. Las actividades simulan tareas reales asociadas al rol del cargo que cada alumno asuma.
	</p>

	
{% endblock %}


{% block al_final_curso %}

	<ul>
		<li>
			Habrán conocido una nueva cultura de negocio en la que toma especial relevancia la “visión compartida”.
		</li>

		<li>
			Tendrán una clara conciencia de la importancia de la participación de las personas en cualquier tipo de proyecto.
		</li>

		<li>
			Habrán experimentado el orgullo y la satisfacción de estar integrados en una Organización que se proyecta hacia el futuro
		</li>

		<li>
			Se someterán a un entrenamiento que les permite encontrar métodos consensuados de trabajo.


		</li>
	
	</ul>

{% endblock %}
