{% extends 'MuchomasfacilSoyformadorWebBundle:Cursos:base_cursos.html.twig' %}

{% block tituloCurso %}
 Negociar no es imponer, busquemos los intereses comunes.
{% endblock %}

{% block introduccion %}

	<p>
		Se trata de un programa estimulante y altamente motivador, con una gama de actividades atrevidas y poco comunes. “Negociar no es imponer” desarrolla un alto nivel de formas de negociación idóneas para maximizar el cumplimiento de lo programado en la empresa

	</p>

{% endblock %}

{% block objetivos %}

	<ul>
		<li>
			Dar a conocer la importancia de la negociación como instrumento de gestión.	
		</li>

		<li>
			Trabajar con los conocimientos, habilidades y actitudes necesarias para optimizar un proceso de negociación.
		</li>

		<li>
			Demostrar la necesidad de la negociación por intereses.
		</li>

	</ul>

{% endblock %}


{% block estructura_curso %}
	<p>
		(Igual que en los casos anteriores, 21 horas)

	</p>

	<p>
		El núcleo de programa presenta ejercicios complejos que exigen una comunicación  y coordinación especiales y donde el intercambio de ideas y experiencias es especialmente interesante.

	</p>


{% endblock %}


{% block al_final_curso %}

	<ul>
		<li>
			Habrán aprendido los diferentes tipos de negociación y las habilidades que se deben potenciar
		</li>

		<li>
			Habrán reflexionado para tratar de evitar actitudes que puedan resultar ineficaces o nocivas
		</li>

		<li>
			Habrán profundizado en la negociación por intereses.
		</li>

		<li>
			Y….., se habrán divertido.
		</li>

	</ul>

{% endblock %}
