{% extends 'MuchomasfacilSoyformadorWebBundle:Cursos:base_cursos.html.twig' %}

{% block tituloCurso %}
 Éxito en las ponencias empresariales. El poder de la voz.
{% endblock %}

{% block introduccion %}

	<p>
		Con esta acción formativa, absolutamente práctica, daremos respuesta a la necesidad imperiosa que tiene el ejecutivo moderno de hablar en público con el objetivo explícito de vender su producto.
	</p>

{% endblock %}

{% block objetivos %}

	<ul>
		<li>
			Fortalecer la personalidad del participante elevando su autoestima al máximo nivel, como base de una comunicación eficaz
		</li>

		<li>
			Aprender a utilizar la voz como herramienta fundamental de comunicación
		</li>

		<li>
			Conquistar y mantener la atención de los oyentes con el gesto, la voz y la palabra
		</li>
			Pasar del miedo, al placer escénico.
		<li>
			Organizar metódicamente las ideas.	
		</li>
			Dominar las modalidades de improvisación de la palabra, de memorización y lectura eficaz
		<li>
			Aumentar a autoconfianza, el espíritu emprendedor, la flexibilidad y la adaptabilidad de los participantes.
		</li>

	</ul>

{% endblock %}


{% block estructura_curso %}
	<p>
		Se han diseñado unas jornadas, repartidas en 24 horas, altamente motivadoras en las que el participante verá su evolución en el “arte de persuadir”, aflorando, mediante pequeñas indicaciones del formador, todas las habilidades que el adulto lleva en su experiencia
	</p>

	
{% endblock %}


{% block al_final_curso %}

	<ul>
		<li>
			Habrá practicado el arte de hablar en público
		</li>

		<li>
			Habrá verificado que el éxito de las ponencias radica en “trabajo, trabajo, trabajo
		</li>

		<li>
			Habrá confianza en sí mismo en el momento de convertirse en centro de atención de un grupo
		</li>

		<li>
			Habrá avanzado en el disfrute de hablar en público.
		</li>
	
	</ul>

{% endblock %}
