{% extends 'MuchomasfacilSoyformadorWebBundle:Cursos:base_cursos.html.twig' %}

{% block tituloCurso %}
 Reuniones más productivas.
{% endblock %}

{% block introduccion %}

	<p>
		Este programa se ha diseñado con actividades lúdicas que introducen y sirven de pretexto para mezclar con elementos teóricos básicos en la conducción de reuniones.

	</p>

	<p>
		Así la metodología utilizada es “aprender haciendo” elemento que introduce el aspecto emocional en nuestras actividades.
	</p>

{% endblock %}

{% block objetivos %}

	<ul>
		<li>
			Mejorar las habilidades de los participantes en la conducción de reuniones. 	
		</li>

		<li>
			Analizar los diferentes tipos y etapas de una reunión para facilitar la elección de la misma.
		</li>

		<li>
			Conocer y tratar a los participantes de una reunión.
		</li>

	</ul>

{% endblock %}


{% block estructura_curso %}
	<p>
		Estas sesiones formativas se articulan en torno a 7 días en tres semanas, durante tres horas los lunes, martes y miércoles, de 19,00 a 22,00 horas. 

	</p>

	<p>
		En estas sesiones se resalta la importancia de realizar un 	análisis de la reunión en tres aspectos: Cómo ha resultado la reunión en el aspecto formal, como ha sido la función del director y cómo se ha llevado a cabo el control de los participantes.

	</p>


{% endblock %}


{% block al_final_curso %}

	<ul>
		<li>
			Habrán analizado la importancia de los aspectos más relevantes de una reunión
		</li>

		<li>
			Habrán analizado las actitudes individuales de cada participante y que potencian o dificultan las reuniones de trabajo y su tratamiento.
		</li>

		<li>
			Habrán verificado la importancia del papel del director de la reunión
		</li>

	</ul>

{% endblock %}
