{% extends 'MuchomasfacilSoyformadorWebBundle::basic.html.twig' %}

{% block title %}
soyformador.es :: Aviso Legal
{% endblock %}

{% block content %}

<h1>Aviso Legal</h1>
<p> 
    <strong>SOYFORMADOR.ES</strong> es propietaria del nombre de dominio y páginas 
    en Internet a las que se accede bajo el dominio soyformador.es
</p>

<BR>

<p>
    Los textos, imágenes y el resto de contenidos 
    incluidos en este sitio web son propiedad de <strong>SOYFORMADOR.ES</strong>
</p>

<BR>

<p>
    Queda expresamente prohibido cualquier transmisión, copia, distribución, reproducción, manipulación, almacenamiento, total o parcial y cualquier otra forma de utilización de todo o parte de los contenidos 
    de esta web sin la previa y expresa autorización por escrito de <strong>SOYFORMADOR.ES</strong>

</p>

<BR>

<p>
    El logotipo es marca registrada por <strong>SOYFORMADOR.ES</strong>
</p>

<BR>

<p>
    La utilización no autorizada de la información contenida en esta web, su reventa, así como la
    lesión de los derechos de Propiedad Intelectual o Industrial de <strong>SOYFORMADOR.ES</strong>
    dará lugar a las responsabilidades legalmente establecidas.
</p>

<BR>

<p>
    Este sitio web puede contener enlaces a páginas externas sobre las cuales <strong>SOYFORMADOR.ES</strong> no se responsabiliza ni de los contenidos
    ni de cualquier otro aspecto relacionado con dichas páginas.
</p>

<BR>

<p>
   <strong>SOYFORMADOR.ES</strong> autoriza el establecimiento de enlaces entre otras webs y la suya, siempre 
    que se respeten las siguientes condiciones:
</p>

<ul>
    <li>
        que no se cree la impresión de que concurre una inexistente relación o vinculación comercial, incluidas las relaciones de distribución, agencia o concesión, entre <strong>SOYFORMADOR.ES</strong> y los
        titulares, responsables o anunciantes en la web desde la que se crea el enlace; 
    </li>
    <br>
    <li>
        que no se cree la impresión de que los contenidos o web de <strong>SOYFORMADOR.ES</strong> pertenezcan o hayan sido diseñados por los titulares,
        responsables o anunciantes en la web desde la que se establece el enlace;
    </li>
    <br>
    <li>
        que no se ofrezca una imagen de <strong>SOYFORMADOR.ES</strong> o de sus productos, que resulte distorsionada,
        hilarante, perjudicial, difamante o equivocada;
    </li>
    <br>
    <li>
        que el enlace no se establezca desde una web cuyos contenidos resulten contrarios a la ley, a la moral y al orden público, incluidas aquellas en las que se incluya
        contenido pornográfico, xenófobo, violento, delictivo o ilícito.
    </li>
    <br>
</ul>

<BR>

<p>
    <strong>SOYFORMADOR.ES</strong> se reserva la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones de la información contenida en su web, de la configuración
    y presentación de éste y de las condiciones de acceso.
</p>

<BR>

<p>
    <strong>SOYFORMADOR.ES</strong> no garantiza la inexistencia de interrupciones o errores en el acceso al web, en su contenido, ni que éste se encuentre actualizado, aunque desarrollará sus mejores esfuerzos para,
    en su caso, evitarlos, subsanarlos o actualizarlos.
</p>

<BR>

<p>
    Tanto el acceso a esta web como el uso que pueda hacerse de la información contenida en el mismo es de la exclusiva responsabilidad de quien lo realiza. <strong>SOYFORMADOR.ES</strong> no responderá de ninguna consecuencia, daño o perjuicio que pudieran derivarse
    de dicho acceso o uso de la información.
</p>
{% endblock %}
