{% extends 'MuchomasfacilSoyformadorWebBundle::basic.html.twig' %}


{% block title %}
soyformador.es :: Cursos Impartidos
{% endblock %}

{% block content %}
<div id="div-content" class="span-11 prepend-1 append-1 last">
<h1>Cursos Impartidos</h1>
</div>

{% endblock %}
