body { font-family: Arial,sans-serif; color:#66647f;  background:#fff; }

a, a:link, a:visited {
font-weight: bold;
color: #66647f;
text-decoration: none;
font-size: 10px;
}

a:hover, a:active {text-decoration: underline }

h1, h2, h3, h4, h5, h6{ color:#66647f;}


textarea      { width: 100%; height: 150px; font-size: 1.1em; padding: 0px }
input[type=text]  { width: 100%; font-size: 1em;}
input[type=submit]  { margin-top: 10px}

table td, table th{ padding: 0;  margin: 0;}

table td ul.error_list {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
}

table td ul.error_list li {
  padding: 4px 5px !important;
  line-height: 100%;
  margin: 0 0 1px;
  list-style: none;
  border: 2px solid #FBC2C4;
  color:#8a1f11;
  font-size: 75%;
  background: #FBE3E4;
  display: block;
}

.container {margin-left: 65px; margin-top: 20px}
  
  #div-left {text-align: center; }
  #div-left #div-head { font-size: 60px; font-weight: bold; margin-left: 20px}
  #div-left #div-subhead {font-size: 16px; color: #66647f; }

  #div-right-wrap{}
    #div-main-menu{ margin-top: 0px; margin-left: 50px; list-style: none; border-bottom: 10px solid #66647f; margin-bottom: 10px}
    #div-main-menu ul {margin: 75px 0px 20px; padding: 0px; }
      #div-main-menu li{list-style: none; display: inline; margin-left: 15px}
      #div-main-menu li.li-current{text-decoration: underline; position: relative; top: 10px}
      #div-main-menu a {font-size: 9px;}
  
  #div-right-wrap {}
  #div-content {margin-left: 60px}
    
    #div-slideshow img {padding: 4px 4px; max-width: 135px; max-height: 334px }
    


